html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: Roboto;
    margin: 0px;
    border: 0;
    padding: 0;
    background-color: #DDD9DD;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 50px); 
    margin: 0;
}

header {
    display: flex;
    height: 50px;
    background-color: #313034;
    justify-content: end;
    padding: 0 60px 0 60px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

nav{
    display: flex;
}

a{
    text-decoration: none;
    color: inherit;
}

header a{
    color: #F4EFF4;
}

ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    
}

li{
    margin: 15px;
    align-items: center;
    font-size: 16px;
}

h1{
    margin: 1px;
    font-weight: 400;
    font-size: 67px;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.14);
}

h2{
    margin: 1px;
    font-weight: 400;
    text-shadow: 0px 4px 4px rgba(0,0,0,0.14);
}
h3{
    margin: 1px;
    font-weight: 300;
}

.welcome-message-container{
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
margin-top: -150px;
text-shadow: 0px 4px 4px rgba(0,0,0,0.14);
}

.welcome-message-container h3 {
    align-self: center; /* Centers the element in a flex container with column direction */
}
